/**
 * ----------------------------------------------------------------------------
 * #.# Frontend CSS
 *
 * BLOCK: BB Accordion
 * ----------------------------------------------------------------------------
 */

.wp-block-bm-blocks-bm-accordion {
	margin-bottom: 10px;
}

.bm-accordion-heading {
	color: #fff;
	padding: 6px 15px;
    line-height: 24px;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 16px;
	cursor: pointer;
	border: 1px solid transparent;
}

.bm-accordion-body {
	padding: 10px 15px;
	font-size: 16px;
}

.bm-accordion-title:before {
	content: "\f0d7";
	font-family: "FontAwesome";
	font-size: 74%;
    color: #fff;
    position: relative;
    margin-right: 10px;
}

.bm-accordion-heading.collapse {
	background-color: #fff !important;
	border: 1px solid #e7e9ec;
	color: #939597;
}

.bm-accordion-heading.collapse .bm-accordion-title:before {
	content: "\f0d8";
	color: #939597;
}