/**
 * ----------------------------------------------------------------------------
 * #.# Editor CSS
 *
 * BLOCK: BM Tabs
 * ----------------------------------------------------------------------------
 */

.bm-tabs {
	display: flex;
}

.bm-tabs .bm-tab {
	padding: 0;
	border: 0;
}

.bm-tabs-number2 .bm-tabs > .bm-tab {
	flex: 0 0 50%;
	max-width: 50%;
}

.bm-tabs-number3 .bm-tabs > .bm-tab {
	flex: 0 0 33.33%;
	max-width: 33.33%;
}

.bm-tabs-number4 .bm-tabs > .bm-tab {
	flex: 0 0 25%;
	max-width: 25%;
}

.bm-tabs-number2 .bm-tabs .bm-tab.bm-tab3,
.bm-tabs-number2 .bm-tabs .bm-tab.bm-tab4,
.bm-tabs-number2 .bm-tabs-body > .editor-rich-text:nth-child(3),
.bm-tabs-number2 .bm-tabs-body > .editor-rich-text:nth-child(4) {
	display: none;
}

.bm-tabs-number3 .bm-tabs .bm-tab.bm-tab4,
.bm-tabs-number3 .bm-tabs-body > .editor-rich-text:nth-child(4) {
	display: none;
}

.bm-tabs > .bm-tab input[type=text] {
	border-left-width: 0;
	text-align: inherit;
}

.bm-tabs > .bm-tab:first-of-type input[type=text] {
	border-left-width: 1px;
}

.bm-tabs-body > .editor-rich-text {
	padding: 0 0 15px;
	margin: 0 0 15px;
	border-bottom: 1px dotted #ccd0d4;
}

.bm-tabs-body > .editor-rich-text:last-of-type {
	border-bottom: 0;
}

.bm-tabs-number2 .bm-tabs-body > .editor-rich-text:nth-child(2),
.bm-tabs-number3 .bm-tabs-body > .editor-rich-text:nth-child(3) {
	border-bottom: 0;	
}

.bm-tabs-body .editor-rich-text .bm-tabpane {
	display: block;
}

.bm-tabpane {
	padding: 0 5px;
}